Repository AjayACST/mcsrvstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, reorder-python-imports

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: poetry run check-yaml
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true

reorder-python-imports:
  name: Reorder python imports
  entry: poetry run reorder-python-imports
  language: system
  args:
  - --application-directories=src

improve pre-commit I hope
  .github/workflows/tests.yml
Due: check-yaml

remove xdoctest
  .github/workflows/tests.yml
  mcsrvstats/models/__init__.py
Due: black, check-yaml, flake8, reorder-python-imports

fix me been stupid
  .github/workflows/tests.yml
Due: check-yaml

add model files
  mcsrvstats/main.py
  mcsrvstats/models/blocksmc.py
  mcsrvstats/models/gommehd.py
  mcsrvstats/models/hive_mc_achievments.py
  mcsrvstats/models/hive_mc_game_stats.py
  mcsrvstats/models/hive_mc_rank.py
  mcsrvstats/models/hive_mc_status.py
  mcsrvstats/models/manacube.py
  mcsrvstats/models/minesaga.py
  mcsrvstats/models/universocraft.py
  mcsrvstats/models/veltpvp.py
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, reorder-python-imports

Added new models
  .gitignore
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/hive_achievements.py
  mcsrvstats/models/hive_game_stats.py
  mcsrvstats/models/hive_mc_rank.py
  mcsrvstats/models/hive_status.py
  mcsrvstats/models/manacube.py
Due: black, flake8, reorder-python-imports

Added hive achievements test
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_hive_mc_achievements.py
Due: black, check-toml, flake8, reorder-python-imports

Cleanup of files
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  docs/codeofconduct.rst
  docs/conf.py
  docs/contributing.rst
  docs/index.rst
  docs/license.rst
  docs/reference.rst
  docs/requirements.txt
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_hive_mc_achievements.py
Due: black, check-toml, check-yaml, flake8, reorder-python-imports

Add manacube test
  mcsrvstats/models/blocksmc.py
  mcsrvstats/models/gommehd.py
  mcsrvstats/models/hive_mc_achievments.py
  mcsrvstats/models/hive_mc_game_stats.py
  mcsrvstats/models/hive_mc_status.py
  mcsrvstats/models/manacube.py
  mcsrvstats/models/minesaga.py
  mcsrvstats/models/universocraft.py
  mcsrvstats/models/veltpvp.py
  poetry.lock
  tests/test_hive_mc_rank.py
  tests/test_hive_mc_status.py
  tests/test_manacube.py
Due: black, flake8, reorder-python-imports

Add lxml, comment out wyncraft
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/wyncraft_classes.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, flake8, reorder-python-imports

Add license scan report and status
  README.md
Due: none

Added wyncraft tests and universocraft models
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/blocksmc.py
  mcsrvstats/models/hive_achievements.py
  mcsrvstats/models/hive_game_stats.py
  mcsrvstats/models/hive_mc_rank.py
  mcsrvstats/models/hive_status.py
  mcsrvstats/models/universocraft.py
  mcsrvstats/models/wyncraft_classes.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_hive_mc_achievements.py
  tests/test_hive_mc_rank.py
  tests/test_hive_mc_status.py
  tests/test_wyncraft_classes.py
Due: black, check-toml, flake8, reorder-python-imports

Added universocraft
  mcsrvstats/exceptions/exceptions.py
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/universocraft.py
  mcsrvstats/models/wyncraft_classes.py
  poetry.lock
  tests/html/test_universocraft.html
  tests/test_universocraft.py
Due: black, flake8, reorder-python-imports

Fix tests
  mcsrvstats/main.py
  test.py
  tests/test_manacube.py
  tests/test_universocraft.py
Due: black, flake8, reorder-python-imports

Custom parser for manacube to allow correct types
  mcsrvstats/models/manacube.py
  tests/test_manacube.py
Due: black, flake8, reorder-python-imports

Remove Minisaga as no longer server
  mcsrvstats/main.py
Due: black, flake8, reorder-python-imports

Added model and test for gommehd
  mcsrvstats/exceptions/exceptions.py
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/gommehd.py
  mcsrvstats/models/minesaga.py
  mcsrvstats/models/universocraft.py
  tests/html/test_gommehd.html
  tests/test_gommehd.py
Due: black, flake8, reorder-python-imports

Fix most tests
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/manacube.py
  mcsrvstats/models/universocraft.py
Due: black, flake8, reorder-python-imports

Fix most nox issues, add last test
  mcsrvstats/__init__.py
  mcsrvstats/exceptions/exceptions.py
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/gommehd.py
  mcsrvstats/models/manacube.py
  mcsrvstats/models/veltpvp.py
  test.py
  tests/html/test_gommehd.html
  tests/html/test_veltpvp.html
  tests/test_gommehd.py
  tests/test_veltpvp.py
Due: black, flake8, reorder-python-imports

remove typeguard
  .github/workflows/tests.yml
Due: check-yaml

Add tests for player not found
  mcsrvstats/main.py
  tests/html/test_gommehd_player_not_found.html
  tests/html/test_universocraft_player_not_found.html
  tests/test_gommehd.py
  tests/test_manacube.py
  tests/test_universocraft.py
  tests/test_wyncraft_classes.py
Due: black, flake8, reorder-python-imports

add tests for manacube and lint files
  mcsrvstats/exceptions/exceptions.py
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/gommehd.py
  mcsrvstats/models/manacube.py
  mcsrvstats/models/universocraft.py
  mcsrvstats/models/veltpvp.py
  mcsrvstats/models/wyncraft_classes.py
  noxfile.py
  tests/html/test_gommehd.html
  tests/html/test_gommehd_player_not_found.html
  tests/html/test_universocraft.html
  tests/html/test_universocraft_player_not_found.html
  tests/html/test_veltpvp.html
  tests/test_gommehd.py
  tests/test_manacube.py
  tests/test_universocraft.py
  tests/test_veltpvp.py
  tests/test_wyncraft_classes.py
Due: black, flake8, reorder-python-imports

Fix some tests
  tests/html/test_gommehd.html
  tests/html/test_universocraft.html
  tests/test_veltpvp.py
Due: black, flake8, reorder-python-imports

Update dependancies
  .github/workflows/constraints.txt
  poetry.lock
Due: none

Update versions
  .github/workflows/codeql-analysis.yml
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  mcsrvstats/models/manacube.py
  noxfile.py
  tests/html/test_gommehd.html
  tests/html/test_universocraft.html
  tests/test_veltpvp.py
Due: black, check-yaml, flake8, reorder-python-imports

Fix tests
  tests/html/test_gommehd.html
  tests/html/test_universocraft.html
Due: none

Fix flake8 star imports
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
Due: black, flake8, reorder-python-imports

fix docs
  CONTRIBUTING.rst
  docs/conf.py
  docs/index.rst
  docs/intro.rst
  docs/reference.rst
  docs/requirements.txt
  mcsrvstats/exceptions/__init__.py
  mcsrvstats/exceptions/exceptions.py
  mcsrvstats/main.py
Due: black, flake8, reorder-python-imports

flake8 cleanup
  mcsrvstats/exceptions/__init__.py
  mcsrvstats/exceptions/exceptions.py
  mcsrvstats/main.py
  mcsrvstats/models/__init__.py
  mcsrvstats/models/manacube.py
Due: black, flake8, reorder-python-imports

rename exception
  tests/test_gommehd.py
  tests/test_manacube.py
  tests/test_universocraft.py
  tests/test_wyncraft_classes.py
Due: black, flake8, reorder-python-imports

Fix star imports
  mcsrvstats/models/__init__.py
Due: black, flake8, reorder-python-imports

Added .prettierignore
  .prettierignore
Due: none

Comment out Windows test
  .github/workflows/tests.yml
Due: check-yaml

Fix pre-commit issues
  mcsrvstats/__init__.py
  mcsrvstats/main.py
  mcsrvstats/models/gommehd.py
  mcsrvstats/models/veltpvp.py
  noxfile.py
  tests/conftest.py
  tests/html/test_gommehd.html
  tests/html/test_universocraft.html
  tests/test_gommehd.py
  tests/test_manacube.py
  tests/test_universocraft.py
  tests/test_veltpvp.py
  tests/test_wyncraft_classes.py
Due: black, flake8, reorder-python-imports

Reorder imports
  tests/conftest.py
  tests/test_gommehd.py
  tests/test_manacube.py
  tests/test_universocraft.py
  tests/test_veltpvp.py
  tests/test_wyncraft_classes.py
Due: black, flake8, reorder-python-imports

Format with black
  tests/conftest.py
  tests/test_gommehd.py
  tests/test_veltpvp.py
  tests/test_wyncraft_classes.py
Due: black, flake8, reorder-python-imports

Added new tests
  tests/test_exceptions.py
  tests/test_mcsrvstats.py
Due: black, flake8, reorder-python-imports

Fix flake errors
  tests/test_exceptions.py
Due: black, flake8, reorder-python-imports

Added new test
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  mcsrvstats/__init__.py
  tests/test_mcsrvstats.py
Due: black, flake8, reorder-python-imports

Added veltpvp test
  mcsrvstats/__init__.py
  pyproject.toml
  tests/html/test_veltpvp_status.html
  tests/test_mcsrvstats.py
  tests/test_veltpvp.py
Due: black, check-toml, flake8, reorder-python-imports

Fix pre-commit
  mcsrvstats/__init__.py
  tests/html/test_veltpvp_status.html
  tests/test_veltpvp.py
Due: black, flake8, reorder-python-imports

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  reorder-python-imports: any of: \.py$
